/taller01_pee_java/ex01_proyecto/nbproject/private/
/taller01_pee_java/ex02_estructura_algoritmo/nbproject/private/
/taller01_pee_java/ex03_variables_constantes_tiposdatos/nbproject/private/
/taller01_pee_java/colores/nbproject/private/
/taller01_pee_java/colores/build/
/taller_poo_java_calculadora/calculadora/nbproject/private/
/taller_poo_java_calculadora/calculadora/build/
/taller01_pee_java/cilindro/nbproject/private/
/taller01_pee_java/cilindro/build/
